.home-title{
    height: 100vh;
    padding-bottom: 20vh;
}

.video-right{
    height: 350px;
    background: linear-gradient(rgba(0,0,0,0.78),rgba(0,0,0,0.78)),
    url(/img/video-bg.png) no-repeat center;
    background-size: cover;
}

.py-7{
    padding: 7rem 0;
}

#calkule{
    background-color: #f9f9ff;
}

#team{
    background-color: black;
}

.courses .lnr{
    color: #235ee2;
    font-size: 30px;
}

.live-btn :hover{
    animation: jello;
}

h1,h2,h5{
    font-family: "Bradley Hand", cursive;
}

.info{
    padding: 10px;
    text-align: justify;
}
