.home-title{
    height: 100vh;
    padding-bottom: 20vh;
}

.py-7{
    padding: 7rem 0;
}

#team,#zadahi,#calkule{
    background-color: black;
}

.courses .lnr{
    color: white;
    font-size: 30px;
}

footer{
    background-color: black;
    font-family: "Bradley Hand", cursive;
}

.live-btn :hover{
    animation: jello;
}

h1,h2,h5{
    font-family: "Bradley Hand", cursive;
}

.info{
    text-align: justify;
}

.contacts,.info,.part{
    margin-bottom: 70px;
}
